# EditorConfig is a normalisation file compatible with different editors
# Find more documentation here : http://editorconfig.org/#download

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# 4 space indentation
[*.php]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# Indentation override for all JS under lib directory
[*.{js,json}]
indent_style = space
indent_size = 2

[composer.json]
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2
